{{ ansible_managed | comment }}

{% import 'macros.j2' as macros with context %}
*filter
:INPUT {{ iptables_input_policy }} [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-N LOGGING
{# Create base chains for zones based on source or interface #}
-N ZONES_INT
-N ZONES_SRC
{# Create the default zone #}
-N {{ firewall_default_zone }}
{# Create chains for each zone defined #}
{% if firewall_zones is defined %}
{% for zone in firewall_zones %}
{% if zone.zone != firewall_default_zone %}
-N {{ zone.zone }}
{% endif %}
{% endfor %}
{% endif %}
{# Default rules #}
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
{# Jump to the zone chains to evaluate zone rules #}
-A INPUT -j ZONES_INT
-A INPUT -j ZONES_SRC
{# Run through zone interface rules. Note the -g. This keeps evaluation from picking multiple zones #}
{% if firewall_zones is defined %}
{% for zone in firewall_zones %}
{% for interface in zone.interfaces|default([]) %}
-A ZONES_INT -i {{ interface }} -g {{ zone.zone }}
{% endfor %}
{# Run through zone source rules. Note the -g. This keeps evaluation from picking multiple zones #}
{% for source in zone.sources|default([]) %}
-A ZONES_SRC -s {{ source }} -g {{ zone.zone }}
{% endfor %}
{% endfor %}
{% endif %}
{# If we get here, we didn't match an interface, so go to the default zone #}
-A ZONES_INT -g {{ firewall_default_zone }}
