{% if firewall_log_dropped == 'yes' %}
-A INPUT -j LOGGING
{% endif %}
-A LOGGING -m limit --limit {{ iptables_logging_limit }} -j LOG --log-prefix "{{ iptables_logging_prefix }}"
-A LOGGING -j {{ iptables_logging_jump }}
COMMIT
