{% macro firewall_service(service) -%}
# {{ service.name }}
{% if service.description is defined %}
# {{ service.description }}
{% endif %}
{# This allows us to apply services to multiple zones #}
{% for zone in service.zones %}
{% for rule in service.rules %}
-A {{ zone }} -p {{ rule.protocol }} --dport {{ rule.port }} -j ACCEPT
{% endfor %}
{% endfor %}
{%- endmacro %}
