{{ ansible_managed | comment }}
DefaultZone={{ firewall_default_zone }}
MinimalMark={{ firewalld_minimalmark }}
CleanupOnExit={{ firewalld_cleanuponexit }}
Lockdown={{ firewalld_lockdown }}
IPv6_rpfilter={{ firewalld_ipv6_rpfilter }}
IndividualCalls={{ firewalld_individualcalls }}
LogDenied={{ firewall_log_dropped }}
