<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ item.name }}</short>
  <description>{{ item.description }}</description>
{% for rule in item.rules %}
  <port protocol="{{ rule.protocol }}" port="{{ rule.port }}"/>
{% endfor %}
</service>
