{# Unfortunately, the variable is passed as an item within an item #}
{% set item = item.item %}
<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>{{ item.zone }}</short>
  <description>{{ item.description }}</description>
</zone>
